<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/90552/IdeaProjects/CWTestNGSelenium">
        <classes>
            <class name="clarusway.Homework.Day1practise1">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
            <class name="clarusway.Homework.Day1practise2">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>
            <class name="clarusway.Homework.Day1practise3">
                <methods>
                    <include name="positiveLogin"/>
                    <include name="negativeUsername"/>
                    <include name="negativePassword"/>
                </methods>
            </class>
            <class name="clarusway.tests.Day01_C01_TestNGAnnotations">
                <methods>
                    <include name="test01"/>
                    <include name="test02"/>
                </methods>
            </class>
            <class name="clarusway.tests.Day01_C02_Priority">
                <methods>
                    <include name="test02"/>
                    <include name="test04"/>
                    <include name="test01"/>
                    <include name="test03"/>
                </methods>
            </class>
            <class name="clarusway.tests.Day01_C03_DependsOn">
                <methods>
                    <include name="loginTest"/>
                    <include name="registrationTest"/>
                </methods>
            </class>
            <class name="clarusway.tests.Day01_C04_Enabled">
                <methods>
                    <include name="enabledTest"/>
                    <include name="disabledTest"/>
                </methods>
            </class>
            <class name="clarusway.tests.Day01_C05_TimeOut">
                <methods>
                    <include name="passedTest"/>
                    <include name="timedOutTest"/>
                    <include name="timedOutTest2"/>
                </methods>
            </class>
            <class name="clarusway.tests.Day01_C06_Description">
                <methods>
                    <include name="loginTest"/>
                    <include name="homePageTest"/>
                </methods>
            </class>
            <class name="clarusway.tests.Day01_C09_AssertionTypes">
                <methods>
                    <include name="hardAssertion"/>
                    <include name="softAssertion"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>